body {
  background-color: #ffca6c;
}
#container {
  display: grid;
}
#heading {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
}

#todoList {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
}

#box {
  margin: 0 auto;
}

#list {
  margin: 0 auto;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.rmBtn {
  float: right;
  margin-right: 20px;
  padding: 0;
}
